extends layout

mixin dots(total, filled)
  - var n = 0;
  while n < total
    div(class=`dot ${n < filled ? 'filled' : 'empty'}`)
    - n++;

mixin spendables(total, spent, max)
  - var n = 0;
  while n < total
    div(class=`spendable ${n < spent ? 'spent' : 'unspent'} ${n >= max ? 'unavailable' : 'available'}`)
    - n++;

mixin trait(trait, maxDots)
  div.character-trait
    div.character-trait-name
      // TODO Put the documentation link into the class instead of hardcoded here.
      a(href=`/documentation/rules#${trait.name.toLowerCase().replace(/[^\w]+/g, '-')}` target='_blank')=trait.name
    div.character-trait-dots
      +dots(5, trait.dots)
  if trait.specialties
    div.character-trait-specialties
      each specialty in trait.specialties
        div.character-trait-specialty=specialty

mixin trait-category(group, category)
  div.character-trait-category
    div.header
      a(href=`/documentation/rules#${category}` target='_blank')=category
    each trait in group[category]
      +trait(trait, 5)

mixin health-level(name, penalty)
  div.health-level
    div.health-level-name=name
    div.health-level-penalty=penalty
    div.health-level-box

block content
  style
    include ../styles/character-sheet.css

  div.character-sheet
    div.character-sheet-top
      div.header Maelstrom
      div.character-information
        div.item
          div.label Name:
          div.field=character.name
        div.item
          div.label Concept:
          div.field=character.concept
        div.item
          div.label Campaign:
          div.field=character.campaign

    div.character-sheet-section
      div.header
        a(href='/documentation/rules#attributes' target='_blank') Attributes
      div.character-trait-group
        +trait-category(character.attributes, 'physical')
        +trait-category(character.attributes, 'mental')

    div.character-sheet-section
      div.header
        a(href='/documentation/rules#abilities' target='_blank') Abilities
      div.character-trait-group
        +trait-category(character.abilities, 'talents')
        +trait-category(character.abilities, 'skills')
        +trait-category(character.abilities, 'knowledges')

    div.character-sheet-section
      div.header Health & Willpower
      div.character-trait-group
        div.character-trait-category
          div.header Health
          div.character-health
            +health-level("Unharmed")
            +health-level("Bruised", "-1")
            +health-level("Hurt", "-1")
            +health-level("Injured", "-1")
            +health-level("Wounded", "-2")
            +health-level("Mauled", "-2")
            +health-level("Crippled", "-5")
            +health-level("Incapacitated")

        div.character-trait-category
          div.header
            a(href='/documentation/rules#willpower' target='_blank') Willpower
          div.character-trait-dots.willpower-rating
            +dots(10, character.willpower.max)
          div.character-trait-dots.willpower-rating
            +spendables(10, character.willpower.spent, character.willpower.max)

