extends layout

mixin dots(total, filled)
  - var n = 0;
  while n < total
    div(class=`dot ${n < filled ? 'filled' : 'empty'}`)
    - n++;

mixin spendables(total, spent, max)
  - var n = 0;
  while n < total
    div(class=`spendable ${n < spent ? 'spent' : 'unspent'} ${n >= max ? 'unavailable' : 'available'}`)
    - n++;

mixin trait(trait, maxDots)
  div.character-trait
    div.character-trait-name
      // TODO Put the documentation link into the class instead of hardcoded here.
      a(href=`/documentation/rules#${trait.name.toLowerCase().replace(/[^\w]+/g, '-')}` target='_blank')=trait.name
    div.character-trait-dots
      +dots(5, trait.dots)
  if trait.specialties
    div.character-trait-specialties
      each specialty in trait.specialties
        div.character-trait-specialty=specialty

mixin trait-category(group, category)
  div.character-trait-category
    div.header=category
    each trait in group[category]
      +trait(trait, 5)

block content
  style
    include ../styles/character-sheet.css

  div.character-sheet
    div.character-sheet-top
      div.header Maelstrom
      div.character-information
        div.item
          div.label Name:
          div.field=character.name
        div.item
          div.label Concept:
          div.field=character.concept
        div.item
          div.label Campaign:
          div.field=character.campaign

    div.character-sheet-section
      div.header Attributes
      div.character-trait-group
        +trait-category(character.attributes, 'physical')
        +trait-category(character.attributes, 'mental')

    div.character-sheet-section
      div.header Abilities
      div.character-trait-group
        +trait-category(character.abilities, 'talents')
        +trait-category(character.abilities, 'skills')
        +trait-category(character.abilities, 'knowledges')

    div.character-sheet-section
      div.header Health
      div.character-trait-group
        div.character-trait-category
          div.header Willpower
          div.character-trait
            div.character-trait-name
              // TODO Put the documentation link into the class instead of hardcoded here.
              a(href='/documentation/rules#willpower' target='_blank') Willpower
            div.character-trait-dots
              +dots(10, character.willpower.max)
          div.character-trait
            div.character-trait-name
            div.character-trait-dots
              +spendables(10, character.willpower.max - character.willpower.current, character.willpower.max)

